* {
  margin: 0;
}

div {
  display: flex;
  justify-content: center;
  -webkit-columns: 300px 2;
          columns: 300px 2;
}

div h1 {
    color: #2f5572;
  }

div p {
    line-height: 1.3em;
    color: white;
  }

body {
  color: #2f5572;
}
